//primary
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

//neutral
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

//others
$white: hsl(0, 0%, 100%);
$strong-cyan-light: hsl(171, 30%, 58%);
$lighter-blue: hsl(233, 100%, 80%);
$light-gray: hsl(220, 18%, 97%)